@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #222831;
    --cor-secundaria:#DDDDDD;
    --cor-terciaria: #F05454;
    --cor-hover: #30475E;

    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 3% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color:var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.apresentacao__conteudo__texto {
    font: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.25rem;
}

.apresentacao__links__navegacao { 
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 75%;
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria); 
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__navegacao__titulo:hover {
    text-decoration: underline;
    color: var(--cor-terciaria);
    font-size: 1.5rem;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px; 
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    text-align: center;     
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    font-size: 1.25rem;
}


/* styles para curriculo.html */


.apresentacao__conteudo__lista__formacao__titulo::before{
    content: "•";
    color:var(--cor-secundaria);
    margin:0 2% 0 0;
}

.apresentacao__conteudo__lista__formacao__titulo {
    list-style-type: circle;
    padding: 3% 0% 2% 0%;
    font-size: 1.25rem;
}

.apresentacao__conteudo__lista__formacao__descricao {
    font-size: 1rem;
}

.apresentacao__conteudo__lista__habilidades__titulo::before{
    content: "•";
    color:var(--cor-secundaria);
    margin:0 2% 0 0;
}

.apresentacao__conteudo__lista__habilidades {
    columns: 2;
}

.apresentacao__conteudo__lista__habilidades__titulo {
    padding: 10% 0% 5% 0%;
    font-size: 1.25rem;
}

.apresentacao__conteudo__lista__habilidades__descricao{
    font-size: 1rem;
    break-before: avoid;
}

.apresentacao__conteudo__lista__cursos__titulo::before{
    content: "•";
    color:var(--cor-secundaria);
    margin:0 2% 0 0;
}

.apresentacao__conteudo__lista__cursos__titulo {
    list-style-type: circle;
    padding: 3% 0% 2% 0%;
    font-size: 1.25rem;
}

.apresentacao__conteudo__lista__cursos__descricao {
    font-size: 1rem;
}

.apresentacao__conteudo__lista__cursos__descricao__link{
    text-decoration:underline;
    font-weight: bold;
    color: var(--cor-secundaria);
}

.apresentacao__preview {
    width: 10%;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__imagem{
        width: auto;
    }


}